@import '/norlmalize.css';

:root {
  /* Colors Primary */

  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);

  /* Neutral */

  --Dark-Grayish-Red: hsl(0, 6%, 24%);

  /* Gradients */

  --gradient-from-white-to-gray: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );

  --gradient-from-light-pink-to-orange: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
  /*  Font Family  */

  --font-family: 'Josefine Sans', Sans-serif;
}

/* mobile  */

body {
  background: black;
  max-height: 100vh;
  font-family: var(--font-family);
}
.container {
  background: var(--gradient-from-white-to-gray);
  max-width: 100vw;
  margin: 1rem;
  max-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_mobile_img {
  width: 100%;
}

.logo_img {
  padding: 2rem;
  max-width: 5rem;
}
